body{
    background-color: #54268c;
    /* background-image: url(../images/bg.svg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 250px; */
    font-family: 'Lato', sans-serif;
}

nav a img{
    width: 150px;
    height:100px;
}

.img-slider{
    padding-top:80px;
}

.display-1{

    font-weight: 300;
    margin-top: 80px;
    margin-top:100px;
    color:white
}

embed{
    -webkit-filter: drop-shadow(5px 5px #222222);
    filter: drop-shadow(5px  5px #222222);
}

p{
    margin-bottom: 40px;
}

.btn_link{
    color:#fff;
    border: 1px solid #fff;
    padding: 10px;
    font-weight: 500;
    margin-right: 20px;
}

.btn_link:hover{
    color:#54268c;
    background-color: #fff;
}


@media (max-width: 768px) {
    body{
        background-image: url(../images/bg.svg);
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -700px;
    }

    .mg{
        height: 200px !important;
    }

    .display-1{
        font-size: 50px;
        font-weight: 300;
        margin-top: -10px;
        text-align:center;
        font-weight:400px;
    }

    p{
        text-align: justify;
    }

    .btn_link{
        color:#54268c;
        background-color: #fff;
        border: 1px solid #fff;
        padding: 10px;
        font-weight: 500;
        margin-right: 20px;
    }
    
 }
